fastapi
uvicorn[standard]
gunicorn
redis
sqlalchemy
alembic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic
pydantic-settings
python-dotenv
slowapi
psycopg2-binary
email-validator
